.container {
    margin: 0px auto;
    height: auto;
    width: 1000px;
    border: 1px solid #999;
}

.header {
    height: 100px;
    width: 100%;
    padding: 10px;
    background-color: rebeccapurple;
    border-bottom: 1px solid #999;
    text-align: center;
    box-sizing: border-box;
}

.main {
    display: flex;
    min-height: 400px;
}

.nav {
    flex-grow: 1;
    border-right: 1px solid #999;
    padding: 10px;
}

.content {
    flex-grow: 4;
    padding: 10px;
}

.footer {
    height: 60px;
    width: 100%;
    background-color: #CCC;
    border-top: 1px solid #999;
    text-align: center;
}

form {
    text-align: left;
    width: 300px;
    margin: 0 auto;
}

.form-group {
    margin: 10px 0;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

input[type="submit"],
input[type="reset"] {
    padding: 5px 10px;
    margin-right: 10px;
}